@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* menu1 */
nav#menu1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: white;
    padding: 10px 2.5rem;
}

nav#menu1 > ul {
    display: flex;
    gap: 3rem;
}

nav#menu1 > button {
    background-color: rgb(83, 131, 245);
    color: white;
    border-radius: 10px;
    padding: 5px;
}


/* menu2 */

nav#menu2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: white;
    padding: 10px 2.5rem;
}

nav#menu2  > section {
    display: flex;
    gap: 3rem;
    align-items: baseline;
}


nav#menu2 > section > ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav#menu2 > section > button {
    background-color: rgb(83, 131, 245);
    color: white;
    border-radius: 10px;
    padding: 5px;
}


/* menu3 */

nav#menu3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    color: white;
    padding: 10px 2.5rem;
}

nav#menu3 > section {
    display: flex;
    gap: 3rem;
    align-items: baseline;
}

nav#menu3 > section > ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: baseline;
}

nav#menu3 > section > button {
    background-color: rgb(83, 131, 245);
    color: white;
    border-radius: 10px;
    padding: 5px;
}


/* menu 4 */
