@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 5px 2.5rem;
    align-items: baseline;
}

section#container {
    display: flex;
    align-items: baseline;
    gap: 3rem;
}

ul {
    display: flex;
    gap: 3rem;
}

button {
    background-color: rgb(51, 122, 243);
    color: white;
    padding: 10px;
    border-radius: 5px;
}