@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2.4rem;
}


ul {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

li {
    margin: 5px;
}

button {
    background-color: rgb(61, 113, 244);
    color: white;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(48, 92, 204);
}