@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 5px 2.5rem;
}

section#contemcoisas {
    display: flex;
    gap: 3rem;
    align-items: baseline;
}

ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

button {
    background-color: rgb(24, 120, 255);
    color: white;
    padding: 5px;
    border-radius: 5px;
}