@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


section {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

img {
    width: 30%;
    height: auto;
}